h1 {
  color: #0077b5;
  text-align: center;
}

.App {
  padding:20px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .feedbackModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0%;
  left: 0%;
  width: 100%;
  height:100%;
  padding-top: 100px;
}
.feedbackModalContent {
  position: relative;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 5em;
  max-height: 10em;
  background-color: rgba(165, 165, 141, 1);
} */

#firstbutton{
  margin-top: .05em;
  margin-left: 10em;
}
#playbutton{
  margin-top: 2em;
  margin-left: 10em;
}
